#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
}

.container { /* Ensure the container takes full height */
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;; /* Ensure the container content is above the video */
}

.main-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.title {
}



.title-part {
    font-size: 64px;
    font-family: Apple Garamond Light;
    font-weight: 400;
    word-wrap: break-word;
}

.title-part-border {
    -webkit-text-stroke: 1.5px black; /* Add a thicker stroke */
}

.title-part.space {
    width: 10px; /* Adjust the width as needed */
    display: inline-block;
}

.white {
    color: white;
}

.title-part.blue {
    color: #012BFF;
}

.title-part.red {
    color: #FF0000;
}

.title-part.large {
    font-size: 200px;
}

.subtitle {
    font-size: 64px;
    font-family: Apple Garamond Light;
    font-weight: 400;
    margin-top: 30px;
    word-wrap: break-word;
}

.subtitle .bold {
    font-family: Apple Garamond;
    font-weight: 400;
}

.definition {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: 64px;
}

.definition-text {
    gap: 10px;
    display: inline-flex;
    color: white;
    font-size: 20px;
    font-family: SF Pro Text;
    font-style: italic;
    font-weight: 300;
    word-wrap: break-word;
    margin-bottom: 10px;
}


.results {
    margin-top: 50px;
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    justify-content: space-around;
    width: 100%;
    padding-bottom: 50px;
  }


@media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(1, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }

  @media (max-width: 600px) {
    .hide-on-phone {
        display: none;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title-part {
        font-size: 72px; /* Уменьшите размер шрифта для телефонов */
    }
    .title-part.large {
        font-size: 100px;
    }
    .subtitle {
        font-size: 32px;
    }
    .definition-text {
        font-size: 14px;
    }
}

@media (max-width: 1100px) {
    .hide-on-not-seeing {
        display: none;
    }
}
